@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply w-full rounded border border-stone-200 px-4 py-2 text-sm transition-all duration-300 focus:outline-none focus:ring focus:ring-[#5648c4] focus:ring-opacity-50;
  }
  .btn {
    @apply inline-block rounded-full bg-[#675AF2] px-3 py-2 text-white transition-colors hover:bg-[#5648c4] hover:text-white focus:bg-[#5648c4] focus:outline-none focus:ring focus:ring-[#5648c4];
  }
  .top-mid-header {
    @apply top-0 flex items-center gap-4 text-xl font-semibold text-black transition-colors;
  }
  .header {
    @apply sticky top-0 z-10 w-full border-b-2 bg-[#FAF8F1] p-4;
  }
  .filepond--list {
    @apply grid grid-cols-2 gap-10;
  }
  .image-swiper-button-next,
  .image-swiper-button-prev {
    color: red !important;
    fill: red !important;
  }

  /* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
  .no-underline-hover:hover {
    text-decoration: none !important;
  }
  /* 调整 FilePond 预览图像的尺寸 */
  .filepond--item {
    width: calc(50% - 0.5em); /* 设置每个项目宽度为容器的一半减去间隔 */
    margin-bottom: 1em; /* 设置底部间隔 */
  }

  .filepond--root {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* 确保两个文件间有空间 */
  }

  .h-screen-10 {
    height: 10vh;
    min-height: 146px;
  }
  .imageFullHeight {
    height: 100% !important; /* 强制图片高度与容器相同 */
  }
  .line::before {
    content: ""; /* 必须设置，否则伪元素不会显示 */
    position: absolute; /* 让伪元素脱离文档流，便于定位 */
    left: 1; /* 在容器的最左边 */
    top: 0; /* 顶部对齐 */
    bottom: 0; /* 底部对齐 */
    width: 2px; /* 线的宽度 */
    background-color: theme("colors.primary.200"); /* 线的颜色 */
  }
  .line {
    position: relative;
    padding-left: 10px;
  }
  .loader {
    width: 45px;
    aspect-ratio: 0.75;
    --c: no-repeat linear-gradient(theme(colors.stone.800) 0 0);
    background:
      var(--c) 0% 50%,
      var(--c) 50% 50%,
      var(--c) 100% 50%;
    background-size: 20% 50%;
    animation: loading 1s infinite linear;
  }

  @keyframes loading {
    20% {
      background-position:
        0% 0%,
        50% 50%,
        100% 50%;
    }
    40% {
      background-position:
        0% 100%,
        50% 0%,
        100% 50%;
    }
    60% {
      background-position:
        0% 50%,
        50% 100%,
        100% 0%;
    }
    80% {
      background-position:
        0% 50%,
        50% 50%,
        100% 100%;
    }
  }

  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #8b80db;
    border-right-color: #5648c4;
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme("colors.primary.200");
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

/* For data picker */

.rdp {
  --rdp-cell-size: 32px !important;
  --rdp-accent-color: theme("colors.accent.500") !important;
  --rdp-background-color: theme("colors.accent.600") !important;
  margin: 0 !important;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
