@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply w-full rounded border border-stone-200 px-4 py-2 text-sm transition-all
    duration-300 focus:outline-none focus:ring focus:ring-opacity-50 focus:ring-[#5648c4];
  }
  .btn {
    @apply inline-block transition-colors focus:outline-none focus:ring focus:ring-[#5648c4] bg-[#675AF2] focus:bg-[#5648c4] text-white hover:text-white hover:bg-[#5648c4] px-3 py-2 rounded-full;
  }
  .top-mid-header {
    @apply top-0 text-black transition-colors flex items-center gap-4 font-semibold text-xl;
  }

  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme("colors.primary.900");
    border-right-color: theme("colors.primary.200");
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme("colors.primary.200");
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

/* For data picker */

.rdp {
  --rdp-cell-size: 32px !important;
  --rdp-accent-color: theme("colors.accent.500") !important;
  --rdp-background-color: theme("colors.accent.600") !important;
  margin: 0 !important;
}
